[gcode_macro Printer_Variables]
variable_turn_off_at_print_end:         	    False    # Turn off the printer at print end

gcode:

# empty gcode

[include start_print.cfg]
[include end_print.cfg]
[include cancel_print.cfg]
[include pause.cfg]
[include resume.cfg]
[include safe_retract.cfg]
[include park_toolhead.cfg]
[include shell_commands.cfg]
[include save_config_remote.cfg]
[include webcam_control.cfg]
[include input_shaper.cfg]
[include notifier.cfg]
[include filament_runout.cfg]
[include make_firmware.cfg]
[include miscs.cfg]
[include shutdown_routine.cfg]
[include change_filament.cfg]


[gcode_macro _bot_data]
variable_lapse_video_size: 0
variable_lapse_filename: 'None'
variable_lapse_path: 'None'
gcode:
    M118 Setting bot lapse variables



[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}